/*
--licorice: #170f11ff;
--dark-purple: #402039ff;
--palatinate: #5c164eff;
--plum: #9b287bff;
--honeydew: #e2fcefff;
--start : #13e9f3ff;
*/

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  background-color: #402039ff;
  color: #e2fcefff;
  font-size: large;
}
.hidden {
  display: none !important;
}

#start {
  position: absolute;
  top: 83%;
  left: 50%;
  background-color: #13e9f3ff;
  font-family: "Pixelify Sans", sans-serif;
  font-size: larger;
  width: 10vw;
  height: 3vw;
  border: none;
  transform: translateX(-50%);
}

#start:hover {
  box-shadow: 0px 1px 14px 13px #9b287bff;
  color: #e2fcefff;
}

#titleimg {
  max-width: 45vw;
  position: relative;
}

#timer {
  font-size: 2em;
  margin: 20px;
  width: 120px;
  color: #e2fcefff;
  background-color: #170f11ff;
}

#text-input {
  border: 1px solid black;
  height: 3vw;
  width: 500px;
  background-color: #e2fcefff;
  margin-bottom: 10px;
  padding: 0 20px;
  font-family: "Space Grotesk" sans-serif;
  font-size: large;
}

#text-input:focus {
  outline: none;
}

#chrImg {
  flex: 2;
  max-width: 15%;
  border: 3px solid #5c164eff;
  border-radius: 5px;
}

#game-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  background-image: url("./scifidoor.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  justify-content: space-between;
}

#bottom-content {
  max-width: 90vw;
  background-color: #170f1190;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 40px;
  margin-bottom: 20px;
  border-radius: 10px;
}

#question {
  flex: 4;
  padding-top: 100px;
  justify-content: flex-end;
  max-width: 100%;
}

#submit-button {
  background-color: #13e9f3ff;
  font-family: "Pixelify Sans", sans-serif;
  font-size: larger;
  width: 10vw;
  height: 3vw;
  border: 1px solid black;
}
#submit-button:hover {
  color: #e2fcefff;
  background-color: aqua;
}
dialog {
  color: #e2fcefff;
  background-color: #170f11ff;
  border-radius: 5px;
  max-width: 80vw;
}
#next {
  background-color: #13e9f3ff;
  font-family: "Pixelify Sans", sans-serif;
  font-size: larger;
  width: 10vw;
  height: 3vw;
  border: 1px solid black;
}
#next:hover {
  color: #e2fcefff;
  background-color: aqua;
}
