/*
--licorice: #170f11ff;
--dark-purple: #402039ff;
--palatinate: #5c164eff;
--plum: #9b287bff;
--honeydew: #e2fcefff;
*/

* {
  margin: 0;
}
body {
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  background-color: #402039ff;
  color: #e2fcefff;
  font-size: large;
}
.hidden {
  display: none !important;
}

#timer {
  font-size: 2em;
  margin: 20px;
  width: 120px;
  background-color: #e2fcefff;
  color: #170f11ff;
}

#text-input {
  height: 35px;
  width: 500px;
}

#chrImg {
  flex: 2;
  max-width: 13%;
  /* width: 120px; */
  border: 2px, solid, #5c164eff;
}

/* #cristodiddio {
  flex: 1;
} */
#game-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 80vh;
  background-image: url("./Placeholder\ Image.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  margin: auto;
  justify-content: space-between;
}

#bottom-content {
  max-width: 68%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;
}

#question {
  flex: 4;
  justify-content: flex-end;
  max-width: 100%;
}
